@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --branco: #FFFFFF;
  --preto: #000000;
  --laranja: #D98600;
  --background: #FFF3E1;
  --cinza: #F6F6F6;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}
